body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:2em;
}
.text{
    text-align:center;
}
#submit{
    margin-top: 10px;
}
.removebtn{
    float: right;
    color: red;
    font-weight: 200;
    text-decoration: none;
}
.removebtn:hover{
    cursor: pointer;
    color: rgb(104, 0, 0);
}